@import '../../../colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

/*show top bar only in HtmlEditor.js*/
.ck-wrapper .ck-editor__editable {
    flex: 1 1 auto !important;
    max-height: 100% !important;
    overflow-y: auto !important;
    box-sizing: border-box !important;
    border-top: 0.5px solid #a6a6a6 !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

.main-container {
	font-family: 'Lato';
	width: 100%;
	box-sizing: border-box;
    border: 0.5px solid #a6a6a6;
	border-radius: 4px;
}

.main-container:focus,
.main-container:focus-visible,
.main-container:focus-within,
.main-container:active {
    border-color: $sal-gold;
    box-shadow: 0 0 0 0.25rem rgba($sal-darkgold, 0.25);
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
    // border: 0.5px solid #a6a6a6;
	// border-radius: 4px;
}

.editor-container .ck.ck-content:focus,
.editor-container .ck.ck-content:focus-visible,
.editor-container .ck.ck-content:focus-within {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

// ckeditor logo
.ck.ck-balloon-panel.ck-powered-by-balloon[class*="position_border"] {
    border: none !important;
}
.ck.ck-balloon-panel.ck-powered-by-balloon .ck.ck-powered-by {
    display: none !important;
    border: none;
}

.editor-container-general {
    --ck-border-radius: 0 !important;
    --ck-focus-ring: 0.5px solid $sal-gold !important;
    --ck-focus-outer-shadow: 0 0 0 0.25rem rgba($sal-darkgold, 0.25) !important;
    --ck-powered-by-border-color: transparent !important;
    --ck-color-focus-border: $sal-gold !important;
    --ck-color-toolbar-border: transparent !important;
    --ck-color-editor-border: transparent !important;
    --ck-color-base-border: transparent !important;
}

.ck {
    --ck-focus-ring: 0.5px solid #{$sal-gold} !important;
    --ck-focus-outer-shadow: 0 0 0 0.25rem rgba(#{$sal-darkgold}, 0.25) !important;
    --ck-color-button-on-color: #{$sal-darkgold} !important;
    --ck-color-focus-outer-shadow: #{$sal-gold} !important;
    --ck-color-base-active: #{$sal-gold} !important;
    --ck-color-base-active-focus: #{$sal-gold} !important;
    --ck-color-focus-border: #{$sal-gold} !important;
    --ck-color-focus-outer-geometry: #{$sal-gold} !important;
    --ck-color-button-on-hover-background: rgba(#{$sal-darkgold}, 0.25) !important;
    --ck-color-button-default-hover-background: rgba(#{$sal-darkgold}, 0.25) !important;
    --ck-color-button-on-background: rgba(#{$sal-gold}, 0.25) !important;
    --ck-color-button-default-active-background: rgba(#{$sal-darkgold}, 0.25) !important;
    //--ck-color-button-default-active-border: #{$sal-gold} !important;
    --ck-color-button-on-active-background: rgba(#{$sal-gold}, 0.5) !important;
    //--ck-color-button-on-active-border: rgba(#{$sal-darkgold}, 0.5) !important;
    //--ck-color-color-grid-check-icon: #{$sal-darkgold} !important;
    //--ck-color-base-background: #{$sal-gold} !important;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
    // just border top in grey
    border-top: 0.5px solid #a6a6a6 !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

.ck ck-input:focus,
.ck ck-input:focus-visible,
.ck ck-input:focus-within {
    // border gold
    --ck-focus-ring: 0.5px solid $sal-gold !important;
    border: 0.5px solid $sal-gold !important;
    border-color: $sal-gold !important;
    // shadow gold
    box-shadow: 0 0 0 0.25rem rgba($sal-gold, 0.25) !important;
}

.editor-container-readOnly {
    --ck-color-base-background: #e9ecef;
}

.ck-content h3.category {
	font-family: 'Oswald';
	font-size: 20px;
	font-weight: bold;
	color: #555;
	letter-spacing: 10px;
	margin: 0;
	padding: 0;
}

.ck-content h2.document-title {
	font-family: 'Oswald';
	font-size: 50px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	border: 0;
}

.ck-content h3.document-subtitle {
	font-family: 'Oswald';
	font-size: 20px;
	color: #555;
	margin: 0 0 1em;
	font-weight: bold;
	padding: 0;
}

.ck-editor__main {
    border: none !important;
}

.ck-content p.info-box {
	--background-size: 30px;
	--background-color: #e91e63;
	padding: 1.2em 2em;
	border: none; //1px solid var(--background-color)
	background: linear-gradient(
			135deg,
			var(--background-color) 0%,
			var(--background-color) var(--background-size),
			transparent var(--background-size)
		),
		linear-gradient(
			135deg,
			transparent calc(100% - var(--background-size)),
			var(--background-color) calc(100% - var(--background-size)),
			var(--background-color)
		);
	border-radius: 10px;
	margin: 1.5em 2em;
	box-shadow: 5px 5px 0 #ffe6ef;
}

.ck-content blockquote.side-quote {
	font-family: 'Oswald';
	font-style: normal;
	float: right;
	width: 35%;
	position: relative;
	border: 0;
	overflow: visible;
	z-index: 1;
	margin-left: 1em;
}

.ck-content blockquote.side-quote::before {
	content: '“';
	position: absolute;
	top: -37px;
	left: -10px;
	display: block;
	font-size: 200px;
	color: #e7e7e7;
	z-index: -1;
	line-height: 1;
}

.ck-content blockquote.side-quote p {
	font-size: 2em;
	line-height: 1;
}

.ck-content blockquote.side-quote p:last-child:not(:first-child) {
	font-size: 1.3em;
	text-align: right;
	color: #555;
}

.ck-content span.marker {
	background: yellow;
}

.ck-content span.spoiler {
	background: #000;
	color: #000;
}

.ck-content span.spoiler:hover {
	background: #000;
	color: #fff;
}

.ck-content pre.fancy-code {
	border: 0;
	margin-left: 2em;
	margin-right: 2em;
	border-radius: 10px;
}

.ck-content pre.fancy-code::before {
	content: '';
	display: block;
	height: 13px;
	background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NCAxMyI+CiAgPGNpcmNsZSBjeD0iNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGMzZCNUMiLz4KICA8Y2lyY2xlIGN4PSIyNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGOUJFNEQiLz4KICA8Y2lyY2xlIGN4PSI0Ny41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiM1NkM0NTMiLz4KPC9zdmc+Cg==);
	margin-bottom: 8px;
	background-repeat: no-repeat;
}

.ck-content pre.fancy-code-dark {
	background: #272822;
	color: #fff;
	box-shadow: 5px 5px 0 #0000001f;
}

.ck-content pre.fancy-code-bright {
	background: #dddfe0;
	color: #000;
	box-shadow: 5px 5px 0 #b3b3b3;
}

.json-editor-wrapper {
    // border: 1px solid #ced4da;
    // border-radius: 4px;
    // padding: 2px;
    background-color: white;
    max-width: 100%;
    cursor: text;
}

.cm-editor {
    border: 1px solid #a6a6a6 !important;
    outline: none !important;
    padding: 2px;
    border-radius: 4px;
}

.cm-editor ::selection {
    background: grey !important;
    background-color: grey !important;
    caret-color: grey !important;
    color: grey !important;
}


.cm-editor.cm-focused {
    border: 1px solid $sal-gold !important;
    box-shadow: 0 0 0 0.25rem rgba($sal-darkgold, 0.25);
    outline: none !important;
    padding: 2px;
    border-radius: 4px;
}

.cm-editor:active {
    border: 1px solid $sal-gold !important;
    box-shadow: 0 0 0 0.25rem rgba($sal-darkgold, 0.25);
}

.cm-selectionMatch {
    background-color: rgba($sal-gold, 0.5) !important;
}

.ck .ck-insert-table-dropdown-grid-box.ck-on {
    border-color: $sal-darkgold !important;
    color: rgba($sal-gold, 0.5) !important;
    background: rgba($sal-gold, 0.5) !important;
    background-color: rgba($sal-gold, 0.5) !important;
}

.ck .ck-insert-table-dropdown-grid-box {
    border: 1px solid $sal-darkgold !important;
}

.json-editor-wrapper.read-only {
    .cm-editor {
        background-color: #e9ecef !important;
    }

    .cm-gutters {
        background-color: #e9ecef !important;
    }

    .cm-activeLineGutter {
        background-color: #e9ecef !important;
    }

    .cm-activeLine {
        background-color: #e9ecef !important;
    }
}
