.sidebar {
    left: 0;
    min-height: 100%;
    padding: 10px 10px 0 10px;
    background-color: #ececec;
    color: red;
}

#sidebar-wrapper{
    height: 93vh;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    width: 250px;
}

#page-content-wrapper {
    position: relative;
}

.sidebar-item{
    color: black;
    font-size: 16pt;
    margin-bottom: 5px;
}

.sidebar-item:hover {
    color: #224396;
    cursor: pointer;
}

.sidebar-item-selected,
.sidebar-item-selected:hover {
    color: #224396;
    font-weight: bold;
}

.nav-link:focus {
    color: black;
}

.study-title {
    color: #494949;
    font-size: 32pt;
    font-weight: bold;
    margin-top: 10px;
}

.study-id {
    font-size: 26pt;
    font-weight: normal;
    color: #585858;
}

.small-title {
    color: #494949;
    font-weight: bold;
    font-size: 22pt;
}

.small-button {
    text-align: center;
    color: white;
    background-color: #224396;
    border-radius: 20px;
    border-style: solid;
    border-color: transparent;
    padding: 1px 20px 1px 20px;
    margin-left: 5px;
    margin-top: -5px;
}

.big-button {
    text-align: center;
    color: white;
    background-color: #224396;
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
    position: absolute;
    bottom: 10px;
    left: 0px;
}

table {
    margin-top: 20px;
    font-size: 14pt;
}

tr {
    height: 60px;
    vertical-align: top;
}

.content-name {
    padding-right: 40px;
    color: #494949;
}

li {
    margin-top: 5px;
    color: black;
    font-size: 14pt;
}

.procedure-object {
    text-align: center;
    padding: 7px;
    background-color: #224396;
    border-color: #224396;
    border-style: solid;
    border-width: 2px;
    color: white;
    border-radius: 20px;
    margin-bottom: 8px;
}

.toggled {
    height: 100px;
    background-color: rgba(34, 67, 150, 0.55);
}

.procedure-box {
    border-color: #494949;
    border-style: solid;
    border-width: 1px;
    height: 80%;
    margin-top: 20px;
}

.box-header {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: black;
    background-color: #ECECEC;
}

.box-content {
    padding: 10px;
}

.data-table {
    border: solid 1px black;
    width: 100%;
    margin-top: 20px;
}

.data-table-header {
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    background-color: #ECECEC;
    font-weight: bold;
    padding-top: 12px;
    padding-left: 15px;
}

.data-table-content {
    border: solid 1px black;
    padding-left: 15px;
}

