@import "../colors.scss";

/* Over write react styles */
.accordion-button:not(.collapsed) {
    color: inherit; 
    background-color: inherit; 
    box-shadow: none; 
}

.accordion-button:focus {
    z-index: inherit; 
    border-color: inherit; 
    outline: inherit; 
    box-shadow: none; 
}

.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-check-input:focus {
    border-color: inherit;
    outline: inherit;
    box-shadow: none;
}

.form-check-input:hover {
    border-color: #0d6efd;
    outline: inherit;
    box-shadow: none;
}

.sidebar {
    left: 0;
    min-height: 100%;
    padding: 10px 0px 0 10px;
    background-color: $sal-superlightgrey;
}

#sidebar-wrapper {
    min-height: 100vh !important;
    max-height: 100% !important;
    min-width: 20vw !important;
    max-width: 20vw !important;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#page-content-wrapper {
    position: relative;
    margin-top: 2vh !important;
}

.sidebar-item {
    color: black;
    font-size: 16pt;
    margin-bottom: 5px;
}

.sidebar-item:hover {
    color: #224396;
    background-color: $sal-lightgrey;
    cursor: pointer;
}

.sidebar-item-selected,
.sidebar-item-selected:hover {
    color: #224396;
    background-color: $sal-lightgrey;
    font-weight: bold;
}

.sidebar-item-check{
    color: #686868;
    font-size: 16pt;
    margin-bottom: 5px;
}

.sidebar-item-check:hover {
    color: #686868;
    cursor: not-allowed;
}

.sidebar-item-check:focus {
    color: #686868;
}

.sidebar-item-selected-check,
.sidebar-item-selected-check:hover {
    pointer-events: none;
    color: #224396;
    font-weight: bold;
}

.integrations:focus {
    color: black;
}

.study-title {
    font-size: 1.15rem;
}

.page-title {
    color: #494949;
    font-size: 32pt;
    font-weight: bold;
    margin-top: 10px;
}

.copy-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #0044aa;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.copy-button.clicked {
    background-color: $sal-darkgold;
}