.top-bar {
    background-color: #c4c4c4;
}

.top-bar-logo {
    margin-left: 10px;
    font-weight: bold;
    font-size: 24pt;
    color: green;
}

#top-bar-dropdown,
.top-bar-item {
    color: black !important;
    font-size: 14pt;
    margin-left: 20px;
}

#top-bar-dropdown:hover,
.top-bar-item:hover {
    color: #224396 !important;
}