$sal-darkgrey: #34322a;
$sal-mediumgrey: #8b8570;
$sal-lightgrey: #c8c5ba;
$sal-superlightgrey: #eae7dd;

$sal-darkgold: #c39c00;
$sal-gold: #ffcc00;

$sal-darkblue: #00245a;

$link-color: #0044aa;
$sal-btn-link-color: #1c1b15;

$sal-proc-text: #3c3c33;
$sal-proc-cond: #0aa4cb;
$sal-proc-quest: #c956e7;
$sal-proc-pause: #22ce65;
$sal-proc-block: #e3e2db;
$sal-proc-block-border: #75749d;

$input-border-color: #a6a6a6;
$light-border-color: #d6d6d6;